/* Write your CSS here */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.Box {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.SearchBox {
  border-radius: 10px;
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Search {
  /* height: 120px; */
  outline: none;
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  width: 300px;
}
.icon {
  width: 30px;
}
.heading {
  color: #252627;
}
